<div class="spacing-32">
  <div class="spacing-32">
    {{{typography
    "Welcome to AutrikOS!"
    "headline37"
    "foregroundDefault"
    }}}
    {{{typography
    "You are on the AutrikOS platform."
    "small"
    "foregroundMuted"
    }}}
    {{{divider false "divider-left"}}}
  </div>
  <div class="wrap-content spacing-16-horizontal">
    {{{concepts}}}
  </div>
</div>